@page "/"
<SectionContent SectionName="page-buttons">
    <div id="searchBox" class="input-group header-search" style="display:none;">
        <span class="input-group-text text-warning"><i class="fa fa-search"></i></span>
        <input id="txtSearch" type="text" class="form-control" placeholder="Search" value="@Model.Search" @onchange="SearchTerm" />
        <span class="input-group-text" onclick="hideSearchBox()"><i class="fa fa-times"></i></span>
    </div>
    <span id="controlBox">
        <button class="btn text-warning" onclick="showSearchBox()">
            <i class="fa fa-search"></i>
        </button>
    </span>    
</SectionContent>
<section>
    <h1>Find your cravings</h1>
    <div class="smallmenulist">
        <a class="btn text-danger" href="/catalog?category=Hamburgers">
            <i class="fa fa-hamburger"></i>
        </a>
        <a class="btn text-warning" href="/catalog?category=Pizza">
            <i class="fa fa-pizza-slice"></i>
        </a>
        <a class="btn text-danger" href="/catalog?category=Hotdogs">
            <i class="fa fa-hotdog"></i>
        </a>
        <a class="btn text-warning" href="/catalog?category=Cookies">
            <i class="fa fa-cookie-bite"></i>
        </a>
        <a class="btn text-danger" href="/catalog?category=IceCream">
            <i class="fa fa-ice-cream"></i>
        </a>
        <a class="btn text-primary" href="/catalog?category=All">
            <i class="fa fa-ellipsis-h"></i>
        </a>
    </div>
</section>
<section>
    <h2>Popular Food</h2>
    <div class="portrait-menulist">
        @foreach(var itm in Model.Popular)
        {
            <div class="menuitem">
                <div class="menuitem-img"><img src="/ProductPhotos/@(itm.ID).jpg" /></div>
                <h3>@itm.Name</h3>
                <h4>P@(itm.Price)</h4>
                <div class="menuitem-actions">
                    <a class="menuitem-add" href="/productitem?productid=@itm.ID">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</section>
<section id="adSection1" style="width:100%">
    <div class="cycle-slideshow">
        <img src="/imgs/ads/ad1.jpg" style="width:100%" />
        <img src="/imgs/ads/ad2.jpg" style="width:100%" />
    </div>
</section>
<section>
    <h2>Top of the Week</h2>
    <div class="landscape-menulist">
        @foreach (var itm in Model.Popular)
        {
            <div class="menuitem">
                <img src="/ProductPhotos/@(itm.ID).jpg" />
                <h3>@itm.Name</h3>
                <h5>@itm.Description</h5>
                <h4>P@(itm.Price)</h4>
                <div class="menuitem-actions">
                    <a class="menuitem-add" href="/productitem?productid=@itm.ID">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</section>
<section id="adSection2" style="width:100%">
    <div class="cycle-slideshow" data-cycle-fx="scrollHorz"
         data-cycle-pause-on-hover="true"
         data-cycle-speed="200">
        <img src="/imgs/ads/ad3.jpg" style="width:100%" />
        <img src="/imgs/ads/ad4.jpg" style="width:100%" />
    </div>
</section>

<script src="js/jquery.cycle2.js"></script>
<script>
    function showSearchBox(){
        $('#searchBox').show();    
        $('#controlBox').hide();
    }
    function hideSearchBox(){
        $('#searchBox').hide();
        $('#controlBox').show();
    }
</script>